<% include ../partials/nav %>
<div class="container top">
  <div class="row">
    <h1>Boats</h1>
    <ul>
      <% boats.forEach(function(boat) { %>
        <h3><li><%= boat.name     %></h3></li>
        <li>Type:       <%= boat.type     %></li>
        <li>Make:       <%= boat.make     %></li>
        <li>Length:     <%= boat.length   %></li>
        <li>Capacity:   <%= boat.capacity %></li>
        <li>Year:       <%= boat.year     %></li>
        <li>Photo URL:  <%= boat.photoUrl %></li>
      <% }) %>
        <a href="/boats/<%= boat.id %>">Show</a>
    </ul>
  </div>
</div>