<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Boats</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
  <h1>Boats</h1>

  <ul>
    <% boats.forEach(function(boat) { %>
      <li>Name:       <%= boat.name     %></li>
      <li>Type:       <%= boat.type     %></li>
      <li>Make:       <%= boat.make     %></li>
      <li>Length:     <%= boat.length   %></li>
      <li>Capacity:   <%= boat.capacity %></li>
      <li>Year:       <%= boat.year     %></li>
      <li>Photo URL:  <%= boat.photoUrl %></li>
    <% }) %>
  </ul>

  <form method="post" action="/boats">
    <div class="form-group">
      <input name="boat[name]" type="text" placeholder="Name" class="form-control">
    </div>
    <div class="form-group">
      <input name="boat[type]" type="text" placeholder="Type" class="form-control">
    </div>
    <div class="form-group">
      <input name="boat[make]" type="text" placeholder="Make" class="form-control">
    </div>
    <div class="form-group">
      <input name="boat[length]" type="text" placeholder="Length" class="form-control">
    </div>
    <div class="form-group">
      <input name="boat[capacity]" type="text" placeholder="Capacity" class="form-control">
    </div>
    <div class="form-group">
      <input name="boat[year]" type="text" placeholder="Year" class="form-control">
    </div>
    <div class="form-group">
      <input name="boat[photoUrl]" type="text" placeholder="Photo URL" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>