<% include ../partials/nav %>
<div class="container" id="show">
  <div class="row">

    <h1><%= boat.name     %></h1>
    <div class="container-img">
      <img src="<%= boat.showPhoto() %>">
    </div>
    <ul>
        <li>Type:       <%= boat.type     %></li>
        <li>Make:       <%= boat.make     %></li>
        <li>Length:     <%= boat.length   %></li>
        <li>Capacity:   <%= boat.capacity %></li>
        <li>Year:       <%= boat.year     %></li>
    </ul>

    <span>
      <a href="/boats/<%= boat.id %>/delete" class="btn btn-danger btn-large">Delete</a>
    </span>

    <span>
      <a href="/boats/<%= boat.id %>/edit" class="btn btn-info btn-large">Update</a>
    </span>

  </div>
</div>
